@use "variables";

body {
    margin: 1rem;
    background-color: variables.$bg;
    color: var(--text);
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5em;
}

ul {
    list-style-image: url("../images/sword-32x32.png");
}