@use "global";
@use "hero";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@font-face {
    src: url(../fonts/Sacramento-Regular.ttf);
    font-family: sac;
}


h1 {
    font-size: 20px;
    // font-family: 'Titillium Web', sans-serif;
    font-family: sac;
}